Cython
dacite
glfw
numpy
pyyaml
PySide6

# Packager for Windows
# need to install on all platforms as it's part of seutp.py # ; sys_platform == 'win32'
cx_freeze

# Packager for Mac, because I can't get cx_freeze to work properly...
pyinstaller ; sys_platform == 'darwin'
dmgbuild ; sys_platform == 'darwin'
